body {
  background-image: url(https://s3.amazonaws.com/shecodesio-production/uploads/files/000/091/295/original/world_map_foto.jpg?1690385973);
  background-size: contain;
 
}
#container {
  
  display: block;
  margin: 30px auto;
  background-color: #E3A782;
  max-width: 300px;
  border-radius: 10px;
  padding: 20px 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

h1 {
  color:#F2E3C6;
  font-size: 36px;
  text-align: center;
  text-shadow: 1px 1px 2px #3e2312;
}
select {
  width: 100%;
  font-size: 18px;
  border-radius: 4px;
  padding: 10px;
   background-color: #F2E3C6;
        color: rgb(48, 27, 2);
        border-color:#CAD088;
        border-width: 2px;
}

.featuredcity {
 
  display: flex;
  margin: 5px 5px;
  justify-content: space-between;
  padding: 25px 0 20px 0;
  border-bottom: 2px dashed rgba(0, 0, 0, 0.2);
}

.featuredcity:last-child {
  border: none;
}
.cityname{
    margin:0;
    font-size: 16px;
    opacity: 0.7;
    
}
.date {
  opacity: 0.7;
  font-size: 13px;
}

.time {
  font-size: 30px;
  font-weight: bold;
  color:white;
  opacity: 0.7;
  text-shadow: 1px 1px 2px #3e2312;

}

.time small {
  font-size: 15px;
  vertical-align: middle;
  line-height: 30px;
  color:black;
  opacity: 0.7;
}
footer {
  color: rgb(48, 27, 2);
  text-align: Center;
  font-size: 18px;
}
